@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  margin-top: 3rem;
  background-color: rgb(188, 185, 2);

}

html {
  scroll-behavior: smooth;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(188, 185, 2);

  border-bottom: 4px solid #1a6f09;
}

.shopName {
  font-family: 'Kanit', sans-serif;
  color: #1a6f09;
  text-align: center;
  font-size: 2rem;
  text-shadow: 0px 0px 8px #fffafa;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-right: 15px;
}

.monkey {
  width: 13%;
  height: auto;
  padding-right: 1.8rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}


.servises-logo {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  font-size: clamp(0.9rem, 3vw, 5rem);
  text-align: center;
  font-family: 'kanit', sans-serif;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;

}



nav {
  display: flex;
  padding: 10px 10px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: 10px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: auto;
  margin-top: 19px;
  justify-content: center;
}

nav ul li {
  margin-right: 15px;
}

nav ul li a {
  color: #010000;
  text-shadow: 0px 0px 8px #dedede;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Kanit', sans-serif;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
  color: rgb(2, 176, 188);
  text-shadow: #131313;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Kanit', sans-serif;
  text-align: center;
  font-size: clamp(0.9rem, 3vw, 5rem);
  text-shadow: 0px 0px 8px #fffafa;
  margin-top: 12px;
  margin-right: 12px;
  margin-bottom: 10px;
}

h4 {
  font-family: 'Kanit', sans-serif;
  text-align: left;
  text-shadow: 0px 0px 8px #fffafa;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 18px;
}

.main-blocks {
  position: absolute;
  left: 0%;
  top: 8rem;
}



.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



.coffee {
  width: 300px;
  height: 400px;
  margin: 1rem;
  background-color: #fff;
  box-shadow: 2px 2px 5px #ccc;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.coffee:hover {
  transform: scale(1.1);
}

.img1 {
  background-image: url("./img/espresso-2AWFEXJ.jpg");
  background-size: cover;
  width: auto;
  margin: -66px 0 0 0px;
  height: 100%;
}

.img2 {
  background-image: url("./img/photo-1600056781444-55f3b64235e3.avif");
  background-size: cover;
  width: auto;
  margin: -66px 0 0 0px;
  height: 100%;
}

.img3 {
  background-image: url("./img/thanh-phan-ly-cafe-americano.webp");
  background-size: cover;
  width: auto;
  margin: -66px 0 0 0px;
  height: 100%;
}

.capputino-info {
  position: relative;
  top: 0px;
  height: 50px;
  color: #1a6f09;
  background: rgb(188, 185, 2);
}

.espresso-info {
  position: relative;
  top: 0px;
  height: 50px;
  color: #1a6f09;
  background: rgb(188, 185, 2);
}

.latte-info {
  position: relative;
  top: 0px;
  height: 50px;
  color: #1a6f09;
  background: rgb(188, 185, 2);
}

.coffee .name {
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-size: 2rem;
  margin-top: 1rem;
}

.coffee .price {
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
  margin-top: 1rem;
  text-shadow: 1px 1px 2px #ccc;
}

.close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.5rem;
  color: #ccc;
  cursor: pointer;
}
.text{
  font-family: "Kanit";
  color: #1a6f09;
  font-size: 50px;
}

.button {
  display: block;
  bottom: 0%;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px 10px;
  font-size: 18px;
  font-family: 'Kanit', sans-serif;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #1a6f09;
  background: rgb(188, 185, 2);
  border: none;
  border-radius: 14px;
  box-shadow: 0 3px #9999996d;
}

#button-espresso {
  margin: 11.5rem auto;
  color: #1a6f09;}

#button-cappuccino {
  margin: 7rem auto;
}

.button:hover {
  background: rgb(0, 0, 0);
}

.button:active {
  background-color: #d6a709c1;
  box-shadow: 0 3px #5f5f60b6;
  transform: translateY(2px);
}

.img1 {
  background-image: url("../img/espresso-2AWFEXJ.jpg");
  background-size: cover;
  width: auto;
  margin: -66px 0 0 0px;
  height: 100%;
}

.img2 {
  background-image: url("../img/photo-1600056781444-55f3b64235e3.avif");
  background-size: cover;
  width: auto;
  margin: -66px 0 0 0px;
  height: 100%;
}

.img3 {
  background-image: url("../img/thanh-phan-ly-cafe-americano.webp");
  background-size: cover;
  width: auto;
  margin: -66px 0 0 0px;
  height: 100%;
}

.servises-list {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  margin: -66px 0 0 0px;
  justify-content: space-between;
  padding-bottom: 94px;
  padding-top: 94px;
}

.servises-item img {
  width: 270px;
  height: 260px;


}


.servises-name {

  color: var(--body-color);


  font-family: 'Kanit', sans-serif;
  font-size: 16px;

  font-weight: 500;


  letter-spacing: 0.48px;
}

.servises-item {
  box-shadow: -2px 10px 7px -5px rgba(0, 0, 0, 0.24);


}

.servises-list li {
  width: 270px;
  background-color: var(--main-color);
  height: 368px;
}






.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 10px;
  margin-left: 10px;
}

.card {
  width: calc(33.33% - 15px);
  margin-bottom: 20px;
  padding-right: 0px;
  padding-left: 0px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.card img {
  margin-top: 15px;
  width: 80%;
  height: 2wh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 2.5vw;
}

.card-content {
  background-color: white;
  padding: 10px;
}

.card-content h3 {
  font-size: clamp(0.5rem, 2vw, 10rem);
  margin-bottom: 10px;
}

.card-content p {
  height: 100%;
  font-size: clamp(0.5rem, 1.5vw, 10rem);
}




section {
  position: relative;
}



section h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin-bottom: 10px;
  padding-left: 0px;
}


.social-icon {
  padding-top: 5px;
  padding-bottom: 0px;
  margin-top: 5rem;
  margin-bottom: 10px;
  margin: 0px 10px;
}

.footer {
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
}

.card-content {
  margin: 0px;
}

section h3 {
  margin: 1px;
  padding: 0 auto;
}

p {
  margin-left: 8px;
  margin-right: 8px;
}


.servises {
  padding-bottom: 94px;
  padding-top: 94px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  text-align: center;
}
.header-footer {
  background: #e1e1e1;
}

.servises .servises-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  
  
  padding: 10px;
  text-align: left;
  font-family: 'Roboto';
}
.contact-Web {

  font-weight: bold;
  font-size: 30px;
  color: #1a6f09;
  text-decoration: none;
  font-family: "Raleway"
}
.contact-info{
  color: #1a6f09;
  font-family: 'Kanit';
  font-size: 20px;
}
.contact {
  
  display: flex;
  width: 1170px;
  height: 252px;
  flex-direction: column;
  margin: 0 auto;


}

footer p {
  margin: 10px 0;
}

section {
  display: flex;
  justify-content: top;
  align-items: top;
}

section:nth-child(2) {
  color: #42455a;
  background: #e0ffff;
}

section:nth-child(3) {
  color: #e0ffff;
}

section:nth-child(4) {
  color: #42455a;
  background: #e0ffff;
}

section h1 {
  font-size: 3rem;
  margin: 20px;
}

section h2 {
  font-size: clamp(0.9rem, 3vw, 5rem);
  text-align: center;
  text-transform: uppercase;
}

section .text-container {
  width: 100%;
  padding-left: 10%;
  margin-right: 10%;
  display: flex;
  margin-top: 1px;
  justify-content: space-between;
}

section .text-container .text-box {
  width: 270px;

  margin: 5px;
  padding: 20px;
  background: #fbfbfbe4;
}

section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}


.reveal {
  position: relative;
  font-family: 'Kanit', sans-serif;
  font-size: 19px;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}



.bg {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background: rgb(26, 111, 9);
  background-image: linear-gradient(-45deg, rgb(145, 255, 0) 0%, rgb(254, 242, 15) 25%, rgb(217, 164, 19) 51%, #f12b74 100%);

}