@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');



 $main-color: rgb(188, 185, 2);
 $secondary-color: #1a6f09;
 $font-family: "Matemasie", sans-serif;
 $bg-gradient:  #6f4e37;
 $transition-time: 0.3s;


body {
  margin-top: 3rem;
 background: #6f4e37;
 font-family: "Matemasie";
}

html {
  scroll-behavior: smooth;

}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(219, 219, 207);
  box-shadow: 0px 40px 7px -5px rgba(0, 0, 0, 0.24);
}


@media (max-width: 480px) {
  .burger-checkbox {
    position: absolute;
    visibility: hidden;
  }

  .burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
  

  &::before,
  &::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #000;
  }

  &::before {
    top: 0;
    box-shadow: 0 11px 0 #000;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }

  &::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
  }

  &-checkbox:checked+&::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
  }

  &-checkbox:checked+&::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
  }}

  .menu-list {
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    gap: 12px;
    padding: 42px 0;
    margin: 0;
    background: #6f4e37;
    list-style-type: none;
    transform: translateX(-100%);
    transition: .3s;
    width: 200px;
  }

  .menu-item {
    display: block;
    padding: 8px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
  }

  .menu-item:hover {
    background: rgba(255, 255, 255, .2)
  }

  .burger-checkbox:checked~.menu-list {
    transform: translateX(0);
  }




}







.shopName {
  font-family: "Matemasie", sans-serif;
  color: #6f4e37;
  text-align: center;
  font-size: 2rem;
  text-shadow: 0px 0px 8px #fffafa;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-right: 15px;
}

.monkey {
  width: 13%;
  height: auto;
  padding-right: 1.8rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}



nav {
  display: flex;
  padding: 10px 10px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: 10px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: auto;
  margin-top: 19px;
  justify-content: center;
}

nav ul li {
  margin-right: 15px;
}

.logo {
  border-radius: 100px;
  height: 50px;

}

.image-button {
  width: 300px;
  height: 100px;
  opacity: 0.8  ;
  border: none;
  background-image: url('/img/2024-08-07.png');
  background-size: cover;
  border-radius: 100px;
  position: fixed;
  left: 600px;
  z-index: 10;
  bottom: 20px;
  @media (max-width: 760px) {

     width: 100px;
  height: 50px;
  
  border: none;
  background-image: url('/img/2024-08-07.png');
  background-size: cover;
  border-radius: 100px;
  position: fixed;
  left: 135px;
  z-index: 10;
  bottom: 10px;
  }

  &:hover {
    opacity: 0.6;
  }
  
  &:active {
    transform: scale(0.95);
  }
}






nav ul li a {
  color: #6f4e37;
  text-shadow: 0px 0px 8px #dedede;
  text-decoration: none;
  font-weight: bold;
  font-family: "Matemasie", sans-serif;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
  color: rgb(2, 176, 188);
  text-shadow: #131313;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Matemasie", sans-serif;
  text-align: center;
  font-size: 30px;
    text-shadow: 0px 0px 8px #fffafa;
  margin-top: 12px;
  margin-right: 12px;
  margin-bottom: 10px;
}

h4 {
  font-family: "Matemasie", sans-serif;
  text-align: left;
  text-shadow: 0px 0px 8px #fffafa;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 18px;
}

.main-blocks {
  position: relative;
  margin-top: 200px;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.coffee {
  width: 300px;
  height: 400px;
  margin: 1rem;
  background-color: #fff;
  box-shadow: 2px 2px 5px #ccc;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.coffee:hover {
  transform: scale(1.1);
}

.img1 {
  background-image: url("./img/espresso-2AWFEXJ.jpg");
  background-size: cover;
  width: auto;
  margin: -66px 0 0 0px;
  height: 100%;
}

.img2 {
  background-image: url("./img/photo-1600056781444-55f3b64235e3.avif");
  background-size: cover;
  width: auto;
  margin: -66px 0 0 0px;
  height: 100%;
}

.img3 {
  background-image: url("./img/thanh-phan-ly-cafe-americano.webp");
  background-size: cover;
  width: auto;
  margin: -66px 0 0 0px;
  height: 100%;
}

.capputino-info {
  position: relative;
  top: 0px;
  height: 50px;
  color: #6f4e37;
  background: rgb(219, 219, 207);
}

.espresso-info {
  position: relative;
  top: 0px;
  height: 50px;
  color: #6f4e37;
  background: rgb(219, 219, 207);
}

.latte-info {
  position: relative;
  top: 0px;
  height: 50px;
  color: #6f4e37;
  background: rgb(219, 219, 207);
}

.coffee .name {
  text-align: center;
  font-family: "Matemasie", sans-serif;
  font-size: 2rem;
  margin-top: 1rem;
}

.coffee .price {
  text-align: center;
  font-family: "Matemasie", sans-serif;
  font-size: 1.5rem;
  margin-top: 1rem;
  text-shadow: 1px 1px 2px #ccc;
}

.close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.5rem;
  color: #ccc;
  cursor: pointer;
}

.text {
  font-family: "Matemasie";
  color: rgb(219, 219, 207);

  font-size: 50px;
}

.button {
  display: block;
  bottom: 0%;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px 10px;
  font-size: 18px;
  font-family: "Matemasie", sans-serif;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #6f4e37;
  background: rgb(219, 219, 207);

  border: none;
  border-radius: 100px;
  box-shadow: 0 3px rgba(153, 153, 153, 0.4274509804);
}

#button-espresso {
  margin: 11.5rem auto;
  color: #1a6f09;
}

#button-cappuccino {
  margin: 7rem auto;
}

.button:hover {
  background: rgb(0, 0, 0);
}

.button:active {
  background-color: rgba(214, 167, 9, 0.7568627451);
  box-shadow: 0 3px rgba(95, 95, 96, 0.7137254902);
  transform: translateY(2px);
}

.img1 {
  background-image: url("../img/espresso-2AWFEXJ.jpg");
  background-size: cover;
  width: auto;
  margin: -66px 0 0 0px;
  height: 100%;
}

.img2 {
  background-image: url("../img/photo-1600056781444-55f3b64235e3.avif");
  background-size: cover;
  width: auto;
  margin: -66px 0 0 0px;
  height: 100%;
}

.img3 {
  background-image: url("../img/thanh-phan-ly-cafe-americano.webp");
  background-size: cover;
  width: auto;
  margin: -66px 0 0 0px;
  height: 100%;
}



.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 10px;
  margin-left: 10px;
  @media (max-width: 760px) {
    align-items: center;
    
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    justify-content: center;
  }
}

.card {
  width: 68%;
  
  margin-bottom: 20px;
  padding-right: 0px;
  padding-left: 0px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.card img {
  margin-top: 15px;
  width: 80%;
  height: 2wh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 2.5vw;
}

.card-content {
  background-color: white;
  padding: 10px;
}

.card-content h3 {
  font-size: clamp(0.5rem, 2vw, 10rem);
  margin-bottom: 10px;
}

.card-content p {
  height: 100%;
  font-size: clamp(0.5rem, 1.5vw, 10rem);
}

section {
  position: relative;
}

section h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin-bottom: 10px;
  padding-left: 0px;
}

.social-icon {
  padding-top: 5px;
  padding-bottom: 0px;
  margin-top: 5rem;
  margin-bottom: 10px;
  margin: 0px 10px;
}

.footer {
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
}

.card-content {
  margin: 0px;
}

section h3 {
  margin: 1px;
  padding: 0 auto;
}

p {
  margin-left: 8px;
  margin-right: 8px;
}

.servises {
  padding-bottom: 94px;
  padding-top: 94px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

&-list {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  margin: -66px 0 0 0px;
  justify-content: space-between;
  padding-bottom: 94px;
  padding-top: 94px;
  @media (max-width: 760px) {
    width: 100%;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    justify-content: center;
    
  }
}

&-item img {
  width: 270px;
  height: 260px;
}

&-name {
  color: var(--body-color);
  font-family: "Matemasie", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

&-item {
  box-shadow: -2px 10px 7px -5px rgba(0, 0, 0, 0.24);
}

&-list li {
  width: 270px;
  background-color: var(--main-color);
  height: 368px;
}

&-logo {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  font-size: 50px;
    text-align: center;
  font-family: "Matemasie", sans-serif;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  animation: jump 4s ease infinite;
}
}


.animation{
  animation: jump 4s ease infinite;

}

#us{
  font-size: 50px;
  animation: jump 4s ease infinite;

}

@keyframes jump {
  0% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-50px);
    color: lightcoral; 
  }
  100% {
    transform: translateY(0); 

  }
}






.header-footer {
  background: #e1e1e1;
}

.servises .servises-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  padding: 10px;
  text-align: left;
  font-family: "Matemasie";
}



.contact {
  display: flex;
  height: 252px;
  flex-direction: column;
  margin: 0 auto;


  &-Web {
    font-weight: bold;
    font-size: 30px;
    color: rgb(219, 219, 207);
    text-decoration: none;
    font-family: "Matemasie";
  }
  
  &-info {
    color: rgb(219, 219, 207);
    font-family: "Matemasie";
    font-size: 20px;
    &:hover{
      opacity: 0.6;
    }
  }
  
  &-logo{
    &:hover{
      opacity: 0.5;
    }
    color: lightcoral;
    @media (max-width:760px) {
      align-items: start;
      display: flex;
    }
  }


  
}

footer p {
  margin: 10px 0;
}

section {
  display: flex;
  justify-content: top;
  align-items: top;
}

section:nth-child(2) {
  color: #42455a;
  background: #e0ffff;
}

section:nth-child(3) {
  color: #e0ffff;
}

section:nth-child(4) {
  color: #42455a;
  background: #e0ffff;
}

section h1 {
  font-size: 3rem;
  margin: 20px;
}

section h2 {
  font-size: 40px;
    text-align: center;
  text-transform: uppercase;
}

section .text-container {
  width: 100%;
  padding-left: 10%;
  margin-right: 10%;
  display: flex;
  margin-top: 1px;
  justify-content: space-between;
}

section .text-container .text-box {
  width: 270px;
  margin: 5px;
  padding: 20px;
  background: rgba(251, 251, 251, 0.8941176471);
}

section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.reveal {
  position: relative;
  font-family: "Matemasie", sans-serif;
  font-size: 19px;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.bg {
  height: 100vh;
  background-size: 300% 300%;
  background-image: url('https://www.worldcoffeeportal.com/getattachment/d5befc3f-e5b1-4174-8045-4d82042d51a2/Coffee-plantations-_-Credit-Vitor-Barao-(1).jpg.aspx?lang=en-GB&width=700&height=393');
  background-repeat: no-repeat;
  background-size: cover;
}

.reveal {
  position: relative;
  font-family: "Matemasie", sans-serif;
  font-size: 19px;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.reveal:nth-child(1) {
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

main {
  animation-name: kol;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}



