.payment-form {
    max-width: 400px;
    height: 20px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    @media (max-width: 480px){
      font-size: 19px;

    }}
  
    .card-title {
      margin-top: 0;
    }
  
    .form-control {
      height: 5px;
      padding: 10px;
      font-size: 16px;
    }
  
    .btn-primary {
      padding: 10px 20px;
      font-size: 16px;
  
      &:hover {
        // Add hover styles here if needed
      }
    }
  
    .form-group {
      label::after {
        content: "▶";
        font-size: 12px;
        margin-left: 10px;
      }
  
      input[type="text"]:focus + label::after,
      input[type="month"]:focus + label::after,
      input[type="number"]:focus + label::after {
        // Add focus styles here if needed
      }
    }
  
  
  body {
    background-image: url('/img/2024-08-07.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .text {
    font-size: 100px;
    text-align: center;
  }
  